# Практика

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sts
import random

## Определение вероятности. События

Требуется сгенерировать необходимые выборки и произвести по ним расчеты

### Задача 1
Брошено две монеты. Найти вероятность того, что монеты выпали разными сторонами

In [26]:
n = 99999
br_coin1 = sts.bernoulli(0.5)
br_coin2 = sts.bernoulli(0.5)
b1 = br_coin1.rvs(n)
b2 = br_coin2.rvs(n)
df = pd.DataFrame (zip(b1, b2), columns = ["e1","e2"])
print ('Вероятность того, что монеты выпали разными сторонами =', df [df.e1 != df.e2 ].shape[0]/n)
df

Вероятность того, что монеты выпали разными сторонами = 0.5032750327503275

       e1  e2
0       0   1
1       1   0
2       1   0
3       1   0
4       0   0
...    ..  ..
99994   1   1
99995   0   0
99996   0   1
99997   0   0
99998   0   1

[99999 rows x 2 columns]

### Задача 2
Брошено три монеты. Описать множество всех элементарных событий. Найти вероятности следующих событий:


1.   A = {не выпало ни одного герба}
2.   B = {выпало четное число гербов}
3.   C = {на третьей монете выпал герб}

In [27]:
#0 - Герб
n = 99999
br_coin1 = sts.bernoulli(0.5)
br_coin2 = sts.bernoulli(0.5)
br_coin3 = sts.bernoulli(0.5)
b1 = br_coin1.rvs(n)
b2 = br_coin2.rvs(n)
b3 = br_coin3.rvs(n)
df = pd.DataFrame (zip(b1, b2, b3), columns = ["e1","e2","e3" ])
print ('A =', df [(df.e1 != 0) & (df.e2 != 0) & (df.e3 != 0)].shape[0]/n)
print ('B =', df [df.e1 + df.e2 + df.e3 == 1].shape[0]/n)
print ('C =', df [(df.e3 == 0)].shape[0]/n)
df

A = 0.12476124761247613
B = 0.37535375353753536
C = 0.5007550075500755

       e1  e2  e3
0       1   1   1
1       1   0   1
2       1   1   0
3       1   0   0
4       1   0   0
...    ..  ..  ..
99994   0   0   0
99995   1   0   1
99996   0   1   0
99997   0   0   1
99998   1   0   0

[99999 rows x 3 columns]

Предлагается также решить задачи: 

### Задача 3
Из двух претендентов E и L на ответственную должность три члена комиссии должны отобрать одного. Каждый член комиссии должен указать либо одного достойного, либо забраковать обоих. Претендент считается выбранным, если он был признана достойным хотя бы двумя членами комиссии.
Найти вероятность событий:

A = {рекомендован L}, B = {рекомендован E}

In [28]:
n = 99999
# Все возможные варианты
a = [[0,1], [1,0], [0,0], [0,1], [1,0], [0,0]]
# Выбор жлюбых 3-х вариантов
c= random.choices(a, k=3)
n = 3
df = pd.DataFrame(c, columns = ["E","L" ])
L = np.count_nonzero(df["L"])
E = np.count_nonzero(df["E"])
print ('A =', df [(df.L >=2)].shape[1]/n)
print ('B =', df [(df.E >=2)].shape[1]/n)
df

A = 0.6666666666666666
B = 0.6666666666666666

   E  L
0  1  0
1  1  0
2  1  0

### Задача 4
Брошено две игральных кости. Описать множество элементарных событий. Найти вероятности событий:

A = {вышло две "шестерки"}

B = {сумма выпавших очков не меньше 11}

C = {не выпала ни одна "шестерка"}

In [34]:
n = 99999
cub1 = []
cub2 = []

for x in range(n):
    cub1.append (np.random.randint(1, 7))
    cub2.append (np.random.randint(1, 7))
         
df = pd.DataFrame(zip(cub1, cub2 ),columns = ["cub1","cub2"] ) 
print ('A =', df [((df.cub1 ==6)&(df.cub2 ==6))].shape[0]/n)
print ('B =', df [((df.cub1 + df.cub2)>=11)].shape[0]/n)
print ('C =', df [(df.cub1 != 6)&(df.cub2 != 6) ].shape[0]/n)
df

A = 0.028020280202802027
B = 0.08410084100841009
C = 0.6933769337693377

       cub1  cub2
0         5     2
1         4     3
2         4     6
3         3     2
4         1     3
...     ...   ...
99994     1     5
99995     5     1
99996     3     6
99997     2     1
99998     4     5

[99999 rows x 2 columns]

## Вероятность суммы событий

### Задача 5
Брошены две игральные кости. Найти вероятность события D = {выпала хотя бы одна шестёрка}

In [35]:
n = 99999
cub1 = []
cub2 = []

for x in range(n):
    cub1.append (np.random.randint(1, 7))
    cub2.append (np.random.randint(1, 7))
         
df = pd.DataFrame(zip(cub1, cub2 ),columns = ["cub1","cub2"] ) 
print ('D =',\
    df [((df.cub1 ==6)&(df.cub2 !=6))|((df.cub1 !=6)&(df.cub2 ==6))|((df.cub1 ==6)&(df.cub2 ==6)) ].shape[0]/n)
df

D = 0.3033730337303373

       cub1  cub2
0         3     6
1         5     1
2         2     5
3         6     3
4         6     5
...     ...   ...
99994     1     3
99995     3     1
99996     2     4
99997     3     2
99998     4     2

[99999 rows x 2 columns]

Предлагается также решить задачи: 

### Задача 6
В телефонном номере три последние цифры стерлись. Считая, что все возможные значения стершихся цифр равновероятны, найти вероятность событий:

A = {Стерлись различные цифры},

B = {Стерлись одинаковые цифры},

C = {Среди стершихся цифр хотя бы две совпадают},

D = {Среди стершихся цифр хотя бы две различны}

In [37]:
n = 99999
num1 = []
num2 = []
num3 = []

for x in range(n):
    num1.append (np.random.randint(0, 10))
    num2.append (np.random.randint(0, 10))
    num3.append (np.random.randint(0, 10))    
df = pd.DataFrame(zip(num1, num2, num3 ), columns = ["num1","num2", "num3"] ) 

print ('A =',\
       df [(df.num1 != df.num2)& (df.num1 != df.num3)& (df.num2 != df.num3)].shape[0]/n)
print ('B =',\
       df [(df.num1 == df.num2)& (df.num1 == df.num3)& (df.num2 == df.num3)].shape[0]/n )
print ('C =',\
       df [(df.num1 == df.num2)|(df.num1 == df.num3)|(df.num2 == df.num3)].shape[0]/n )
print ('D =',\
       df [(df.num1 != df.num2)| (df.num1 != df.num3)|(df.num2 != df.num3)].shape[0]/n )
df

A = 0.7199271992719927
B = 0.01052010520105201
C = 0.2800728007280073
D = 0.9894798947989479

       num1  num2  num3
0         7     3     9
1         3     8     5
2         9     2     6
3         5     5     7
4         7     9     9
...     ...   ...   ...
99994     6     7     7
99995     2     7     3
99996     5     2     5
99997     5     2     5
99998     8     1     4

[99999 rows x 3 columns]

## Случайные величины

### Задача 7
В лотерее имеется 10 билетов, из которых один выигрышный. Размер выигрыша 10 ден. ед.; стоимость билета 1 ден ед. Найти закон распределения случайной величины X, равной чистому выигрышу участника лотереи, который вытаскивает билет первым.

In [39]:
lt = [0,0,0,0,0,0,0,0,0,1]
n = len(lt)
random.shuffle(lt, random.random)
df = pd.DataFrame(lt)
print ('Вероятность выигрыша 10 ден.ед: ', df [df[0] ==1 ].shape[0]/n)
print ('Вероятность проигрыша ', df [df[0] ==0 ].shape[0]/n)
df

Вероятность выигрыша 10 ден.ед:  0.1
Вероятность проигрыша  0.9

   0
0  1
1  0
2  0
3  0
4  0
5  0
6  0
7  0
8  0
9  0

Предлагается также решить задачу: 

### Задача 8
Брошены две игральные кости. Найти закон распределения случайной величины $X$, равной сумме выпавших очков. Найти вероятности событий ${X <= 4}$, ${X > 4}$

In [41]:
n = 99999
vl = []

for x in range(n):
    vl.append(np.random.randint(1, 7) + np.random.randint(1, 7))
df = pd.DataFrame(vl) 

print ('вероятности событий  𝑋<=4 ', df [df[0] <= 4 ].shape[0]/n)
print ('вероятности событий  𝑋>4 ', df [df[0] > 4 ].shape[0]/n)
df

вероятности событий  𝑋<=4  0.16891168911689117
вероятности событий  𝑋>4  0.8310883108831089

       0
0      5
1      5
2      9
3      3
4      7
...   ..
99994  9
99995  6
99996  6
99997  4
99998  6

[99999 rows x 1 columns]

## Условные вероятности

### Задача 9
Из колоды (36 карт) вынимают последовательно без возвращения две карты. Найти вероятность того, что первой картой была шестерка, а второй — семерка. Найти условную вероятность того же события при условии, что обе карты бубновой масти.

In [42]:
W = 36 * 35
# A - {первая карта - шестерка, вторая карта - семерка}
A = 4 * 4 
# B - {обе карты бубновой масти}
B = 1 * 1 
pA = A/W
pAB = B/W
print(pA, pAB)

0.012698412698412698 0.0007936507936507937

Предлагается также решить задачу: 

### Задача 10
Из урны, содержащей два белых и три черных шара, последовательно извлекают два шара; вынутые шары не возвращаются. Если первый шар оказался черным, то перед вторым извлечением в урну добавляют белый шар. В противном случае состав оставшихся шаров не меняют. Найти вероятности событий:

$A$ = {извлечены два белых шара},

$B$ = {извлечены два черных шара}

Указание. Пусть событие $C_1$ = {первый шар белый}, событие $C_2$ = {второй шар белый}. Тогда $A = C_1C_2$, $B = \overline C_1 \overline C_2$