# –ü—Ä–∞–∫—Ç–∏–∫–∞

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sts
import random

## –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç–∏. –°–æ–±—ã—Ç–∏—è

–¢—Ä–µ–±—É–µ—Ç—Å—è —Å–≥–µ–Ω–µ—Ä–∏—Ä–æ–≤–∞—Ç—å –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –≤—ã–±–æ—Ä–∫–∏ –∏ –ø—Ä–æ–∏–∑–≤–µ—Å—Ç–∏ –ø–æ –Ω–∏–º —Ä–∞—Å—á–µ—Ç—ã

### –ó–∞–¥–∞—á–∞ 1
–ë—Ä–æ—à–µ–Ω–æ –¥–≤–µ –º–æ–Ω–µ—Ç—ã. –ù–∞–π—Ç–∏ –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å —Ç–æ–≥–æ, —á—Ç–æ –º–æ–Ω–µ—Ç—ã –≤—ã–ø–∞–ª–∏ —Ä–∞–∑–Ω—ã–º–∏ —Å—Ç–æ—Ä–æ–Ω–∞–º–∏

In [26]:
n = 99999
br_coin1 = sts.bernoulli(0.5)
br_coin2 = sts.bernoulli(0.5)
b1 = br_coin1.rvs(n)
b2 = br_coin2.rvs(n)
df = pd.DataFrame (zip(b1, b2), columns = ["e1","e2"])
print ('–í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å —Ç–æ–≥–æ, —á—Ç–æ –º–æ–Ω–µ—Ç—ã –≤—ã–ø–∞–ª–∏ —Ä–∞–∑–Ω—ã–º–∏ —Å—Ç–æ—Ä–æ–Ω–∞–º–∏ =', df [df.e1 != df.e2 ].shape[0]/n)
df

–í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å —Ç–æ–≥–æ, —á—Ç–æ –º–æ–Ω–µ—Ç—ã –≤—ã–ø–∞–ª–∏ —Ä–∞–∑–Ω—ã–º–∏ —Å—Ç–æ—Ä–æ–Ω–∞–º–∏ = 0.5032750327503275

       e1  e2
0       0   1
1       1   0
2       1   0
3       1   0
4       0   0
...    ..  ..
99994   1   1
99995   0   0
99996   0   1
99997   0   0
99998   0   1

[99999 rows x 2 columns]

### –ó–∞–¥–∞—á–∞ 2
–ë—Ä–æ—à–µ–Ω–æ —Ç—Ä–∏ –º–æ–Ω–µ—Ç—ã. –û–ø–∏—Å–∞—Ç—å –º–Ω–æ–∂–µ—Å—Ç–≤–æ –≤—Å–µ—Ö —ç–ª–µ–º–µ–Ω—Ç–∞—Ä–Ω—ã—Ö —Å–æ–±—ã—Ç–∏–π. –ù–∞–π—Ç–∏ –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç–∏ —Å–ª–µ–¥—É—é—â–∏—Ö —Å–æ–±—ã—Ç–∏–π:


1.   A = {–Ω–µ –≤—ã–ø–∞–ª–æ –Ω–∏ –æ–¥–Ω–æ–≥–æ –≥–µ—Ä–±–∞}
2.   B = {–≤—ã–ø–∞–ª–æ —á–µ—Ç–Ω–æ–µ —á–∏—Å–ª–æ –≥–µ—Ä–±–æ–≤}
3.   C = {–Ω–∞ —Ç—Ä–µ—Ç—å–µ–π –º–æ–Ω–µ—Ç–µ –≤—ã–ø–∞–ª –≥–µ—Ä–±}

In [27]:
#0 - –ì–µ—Ä–±
n = 99999
br_coin1 = sts.bernoulli(0.5)
br_coin2 = sts.bernoulli(0.5)
br_coin3 = sts.bernoulli(0.5)
b1 = br_coin1.rvs(n)
b2 = br_coin2.rvs(n)
b3 = br_coin3.rvs(n)
df = pd.DataFrame (zip(b1, b2, b3), columns = ["e1","e2","e3" ])
print ('A =', df [(df.e1 != 0) & (df.e2 != 0) & (df.e3 != 0)].shape[0]/n)
print ('B =', df [df.e1 + df.e2 + df.e3 == 1].shape[0]/n)
print ('C =', df [(df.e3 == 0)].shape[0]/n)
df

A = 0.12476124761247613
B = 0.37535375353753536
C = 0.5007550075500755

       e1  e2  e3
0       1   1   1
1       1   0   1
2       1   1   0
3       1   0   0
4       1   0   0
...    ..  ..  ..
99994   0   0   0
99995   1   0   1
99996   0   1   0
99997   0   0   1
99998   1   0   0

[99999 rows x 3 columns]

–ü—Ä–µ–¥–ª–∞–≥–∞–µ—Ç—Å—è —Ç–∞–∫–∂–µ —Ä–µ—à–∏—Ç—å –∑–∞–¥–∞—á–∏: 

### –ó–∞–¥–∞—á–∞ 3
–ò–∑ –¥–≤—É—Ö –ø—Ä–µ—Ç–µ–Ω–¥–µ–Ω—Ç–æ–≤ E –∏ L –Ω–∞ –æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω—É—é –¥–æ–ª–∂–Ω–æ—Å—Ç—å —Ç—Ä–∏ —á–ª–µ–Ω–∞ –∫–æ–º–∏—Å—Å–∏–∏ –¥–æ–ª–∂–Ω—ã –æ—Ç–æ–±—Ä–∞—Ç—å –æ–¥–Ω–æ–≥–æ. –ö–∞–∂–¥—ã–π —á–ª–µ–Ω –∫–æ–º–∏—Å—Å–∏–∏ –¥–æ–ª–∂–µ–Ω —É–∫–∞–∑–∞—Ç—å –ª–∏–±–æ –æ–¥–Ω–æ–≥–æ –¥–æ—Å—Ç–æ–π–Ω–æ–≥–æ, –ª–∏–±–æ –∑–∞–±—Ä–∞–∫–æ–≤–∞—Ç—å –æ–±–æ–∏—Ö. –ü—Ä–µ—Ç–µ–Ω–¥–µ–Ω—Ç —Å—á–∏—Ç–∞–µ—Ç—Å—è –≤—ã–±—Ä–∞–Ω–Ω—ã–º, –µ—Å–ª–∏ –æ–Ω –±—ã–ª –ø—Ä–∏–∑–Ω–∞–Ω–∞ –¥–æ—Å—Ç–æ–π–Ω—ã–º —Ö–æ—Ç—è –±—ã –¥–≤—É–º—è —á–ª–µ–Ω–∞–º–∏ –∫–æ–º–∏—Å—Å–∏–∏.
–ù–∞–π—Ç–∏ –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å —Å–æ–±—ã—Ç–∏–π:

A = {—Ä–µ–∫–æ–º–µ–Ω–¥–æ–≤–∞–Ω L}, B = {—Ä–µ–∫–æ–º–µ–Ω–¥–æ–≤–∞–Ω E}

In [28]:
n = 99999
# –í—Å–µ –≤–æ–∑–º–æ–∂–Ω—ã–µ –≤–∞—Ä–∏–∞–Ω—Ç—ã
a = [[0,1], [1,0], [0,0], [0,1], [1,0], [0,0]]
# –í—ã–±–æ—Ä –∂–ª—é–±—ã—Ö 3-—Ö –≤–∞—Ä–∏–∞–Ω—Ç–æ–≤
c= random.choices(a, k=3)
n = 3
df = pd.DataFrame(c, columns = ["E","L" ])
L = np.count_nonzero(df["L"])
E = np.count_nonzero(df["E"])
print ('A =', df [(df.L >=2)].shape[1]/n)
print ('B =', df [(df.E >=2)].shape[1]/n)
df

A = 0.6666666666666666
B = 0.6666666666666666

   E  L
0  1  0
1  1  0
2  1  0

### –ó–∞–¥–∞—á–∞ 4
–ë—Ä–æ—à–µ–Ω–æ –¥–≤–µ –∏–≥—Ä–∞–ª—å–Ω—ã—Ö –∫–æ—Å—Ç–∏. –û–ø–∏—Å–∞—Ç—å –º–Ω–æ–∂–µ—Å—Ç–≤–æ —ç–ª–µ–º–µ–Ω—Ç–∞—Ä–Ω—ã—Ö —Å–æ–±—ã—Ç–∏–π. –ù–∞–π—Ç–∏ –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç–∏ —Å–æ–±—ã—Ç–∏–π:

A = {–≤—ã—à–ª–æ –¥–≤–µ "—à–µ—Å—Ç–µ—Ä–∫–∏"}

B = {—Å—É–º–º–∞ –≤—ã–ø–∞–≤—à–∏—Ö –æ—á–∫–æ–≤ –Ω–µ –º–µ–Ω—å—à–µ 11}

C = {–Ω–µ –≤—ã–ø–∞–ª–∞ –Ω–∏ –æ–¥–Ω–∞ "—à–µ—Å—Ç–µ—Ä–∫–∞"}

In [34]:
n = 99999
cub1 = []
cub2 = []

for x in range(n):
    cub1.append (np.random.randint(1, 7))
    cub2.append (np.random.randint(1, 7))
         
df = pd.DataFrame(zip(cub1, cub2 ),columns = ["cub1","cub2"] ) 
print ('A =', df [((df.cub1 ==6)&(df.cub2 ==6))].shape[0]/n)
print ('B =', df [((df.cub1 + df.cub2)>=11)].shape[0]/n)
print ('C =', df [(df.cub1 != 6)&(df.cub2 != 6) ].shape[0]/n)
df

A = 0.028020280202802027
B = 0.08410084100841009
C = 0.6933769337693377

       cub1  cub2
0         5     2
1         4     3
2         4     6
3         3     2
4         1     3
...     ...   ...
99994     1     5
99995     5     1
99996     3     6
99997     2     1
99998     4     5

[99999 rows x 2 columns]

## –í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å —Å—É–º–º—ã —Å–æ–±—ã—Ç–∏–π

### –ó–∞–¥–∞—á–∞ 5
–ë—Ä–æ—à–µ–Ω—ã –¥–≤–µ –∏–≥—Ä–∞–ª—å–Ω—ã–µ –∫–æ—Å—Ç–∏. –ù–∞–π—Ç–∏ –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å —Å–æ–±—ã—Ç–∏—è D = {–≤—ã–ø–∞–ª–∞ —Ö–æ—Ç—è –±—ã –æ–¥–Ω–∞ —à–µ—Å—Ç—ë—Ä–∫–∞}

In [35]:
n = 99999
cub1 = []
cub2 = []

for x in range(n):
    cub1.append (np.random.randint(1, 7))
    cub2.append (np.random.randint(1, 7))
         
df = pd.DataFrame(zip(cub1, cub2 ),columns = ["cub1","cub2"] ) 
print ('D =',\
    df [((df.cub1 ==6)&(df.cub2 !=6))|((df.cub1 !=6)&(df.cub2 ==6))|((df.cub1 ==6)&(df.cub2 ==6)) ].shape[0]/n)
df

D = 0.3033730337303373

       cub1  cub2
0         3     6
1         5     1
2         2     5
3         6     3
4         6     5
...     ...   ...
99994     1     3
99995     3     1
99996     2     4
99997     3     2
99998     4     2

[99999 rows x 2 columns]

–ü—Ä–µ–¥–ª–∞–≥–∞–µ—Ç—Å—è —Ç–∞–∫–∂–µ —Ä–µ—à–∏—Ç—å –∑–∞–¥–∞—á–∏: 

### –ó–∞–¥–∞—á–∞ 6
–í —Ç–µ–ª–µ—Ñ–æ–Ω–Ω–æ–º –Ω–æ–º–µ—Ä–µ —Ç—Ä–∏ –ø–æ—Å–ª–µ–¥–Ω–∏–µ —Ü–∏—Ñ—Ä—ã —Å—Ç–µ—Ä–ª–∏—Å—å. –°—á–∏—Ç–∞—è, —á—Ç–æ –≤—Å–µ –≤–æ–∑–º–æ–∂–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–µ—Ä—à–∏—Ö—Å—è —Ü–∏—Ñ—Ä —Ä–∞–≤–Ω–æ–≤–µ—Ä–æ—è—Ç–Ω—ã, –Ω–∞–π—Ç–∏ –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å —Å–æ–±—ã—Ç–∏–π:

A = {–°—Ç–µ—Ä–ª–∏—Å—å —Ä–∞–∑–ª–∏—á–Ω—ã–µ —Ü–∏—Ñ—Ä—ã},

B = {–°—Ç–µ—Ä–ª–∏—Å—å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–µ —Ü–∏—Ñ—Ä—ã},

C = {–°—Ä–µ–¥–∏ —Å—Ç–µ—Ä—à–∏—Ö—Å—è —Ü–∏—Ñ—Ä —Ö–æ—Ç—è –±—ã –¥–≤–µ —Å–æ–≤–ø–∞–¥–∞—é—Ç},

D = {–°—Ä–µ–¥–∏ —Å—Ç–µ—Ä—à–∏—Ö—Å—è —Ü–∏—Ñ—Ä —Ö–æ—Ç—è –±—ã –¥–≤–µ —Ä–∞–∑–ª–∏—á–Ω—ã}

In [37]:
n = 99999
num1 = []
num2 = []
num3 = []

for x in range(n):
    num1.append (np.random.randint(0, 10))
    num2.append (np.random.randint(0, 10))
    num3.append (np.random.randint(0, 10))    
df = pd.DataFrame(zip(num1, num2, num3 ), columns = ["num1","num2", "num3"] ) 

print ('A =',\
       df [(df.num1 != df.num2)& (df.num1 != df.num3)& (df.num2 != df.num3)].shape[0]/n)
print ('B =',\
       df [(df.num1 == df.num2)& (df.num1 == df.num3)& (df.num2 == df.num3)].shape[0]/n )
print ('C =',\
       df [(df.num1 == df.num2)|(df.num1 == df.num3)|(df.num2 == df.num3)].shape[0]/n )
print ('D =',\
       df [(df.num1 != df.num2)| (df.num1 != df.num3)|(df.num2 != df.num3)].shape[0]/n )
df

A = 0.7199271992719927
B = 0.01052010520105201
C = 0.2800728007280073
D = 0.9894798947989479

       num1  num2  num3
0         7     3     9
1         3     8     5
2         9     2     6
3         5     5     7
4         7     9     9
...     ...   ...   ...
99994     6     7     7
99995     2     7     3
99996     5     2     5
99997     5     2     5
99998     8     1     4

[99999 rows x 3 columns]

## –°–ª—É—á–∞–π–Ω—ã–µ –≤–µ–ª–∏—á–∏–Ω—ã

### –ó–∞–¥–∞—á–∞ 7
–í –ª–æ—Ç–µ—Ä–µ–µ –∏–º–µ–µ—Ç—Å—è 10 –±–∏–ª–µ—Ç–æ–≤, –∏–∑ –∫–æ—Ç–æ—Ä—ã—Ö –æ–¥–∏–Ω –≤—ã–∏–≥—Ä—ã—à–Ω—ã–π. –†–∞–∑–º–µ—Ä –≤—ã–∏–≥—Ä—ã—à–∞ 10 –¥–µ–Ω. –µ–¥.; —Å—Ç–æ–∏–º–æ—Å—Ç—å –±–∏–ª–µ—Ç–∞ 1 –¥–µ–Ω –µ–¥. –ù–∞–π—Ç–∏ –∑–∞–∫–æ–Ω —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è —Å–ª—É—á–∞–π–Ω–æ–π –≤–µ–ª–∏—á–∏–Ω—ã X, —Ä–∞–≤–Ω–æ–π —á–∏—Å—Ç–æ–º—É –≤—ã–∏–≥—Ä—ã—à—É —É—á–∞—Å—Ç–Ω–∏–∫–∞ –ª–æ—Ç–µ—Ä–µ–∏, –∫–æ—Ç–æ—Ä—ã–π –≤—ã—Ç–∞—Å–∫–∏–≤–∞–µ—Ç –±–∏–ª–µ—Ç –ø–µ—Ä–≤—ã–º.

In [39]:
lt = [0,0,0,0,0,0,0,0,0,1]
n = len(lt)
random.shuffle(lt, random.random)
df = pd.DataFrame(lt)
print ('–í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∏–≥—Ä—ã—à–∞ 10 –¥–µ–Ω.–µ–¥: ', df [df[0] ==1 ].shape[0]/n)
print ('–í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –ø—Ä–æ–∏–≥—Ä—ã—à–∞ ', df [df[0] ==0 ].shape[0]/n)
df

–í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∏–≥—Ä—ã—à–∞ 10 –¥–µ–Ω.–µ–¥:  0.1
–í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –ø—Ä–æ–∏–≥—Ä—ã—à–∞  0.9

   0
0  1
1  0
2  0
3  0
4  0
5  0
6  0
7  0
8  0
9  0

–ü—Ä–µ–¥–ª–∞–≥–∞–µ—Ç—Å—è —Ç–∞–∫–∂–µ —Ä–µ—à–∏—Ç—å –∑–∞–¥–∞—á—É: 

### –ó–∞–¥–∞—á–∞ 8
–ë—Ä–æ—à–µ–Ω—ã –¥–≤–µ –∏–≥—Ä–∞–ª—å–Ω—ã–µ –∫–æ—Å—Ç–∏. –ù–∞–π—Ç–∏ –∑–∞–∫–æ–Ω —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è —Å–ª—É—á–∞–π–Ω–æ–π –≤–µ–ª–∏—á–∏–Ω—ã $X$, —Ä–∞–≤–Ω–æ–π —Å—É–º–º–µ –≤—ã–ø–∞–≤—à–∏—Ö –æ—á–∫–æ–≤. –ù–∞–π—Ç–∏ –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç–∏ —Å–æ–±—ã—Ç–∏–π ${X <= 4}$, ${X > 4}$

In [41]:
n = 99999
vl = []

for x in range(n):
    vl.append(np.random.randint(1, 7) + np.random.randint(1, 7))
df = pd.DataFrame(vl) 

print ('–≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç–∏ —Å–æ–±—ã—Ç–∏–π  ùëã<=4 ', df [df[0] <= 4 ].shape[0]/n)
print ('–≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç–∏ —Å–æ–±—ã—Ç–∏–π  ùëã>4 ', df [df[0] > 4 ].shape[0]/n)
df

–≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç–∏ —Å–æ–±—ã—Ç–∏–π  ùëã<=4  0.16891168911689117
–≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç–∏ —Å–æ–±—ã—Ç–∏–π  ùëã>4  0.8310883108831089

       0
0      5
1      5
2      9
3      3
4      7
...   ..
99994  9
99995  6
99996  6
99997  4
99998  6

[99999 rows x 1 columns]

## –£—Å–ª–æ–≤–Ω—ã–µ –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç–∏

### –ó–∞–¥–∞—á–∞ 9
–ò–∑ –∫–æ–ª–æ–¥—ã (36 –∫–∞—Ä—Ç) –≤—ã–Ω–∏–º–∞—é—Ç –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ –±–µ–∑ –≤–æ–∑–≤—Ä–∞—â–µ–Ω–∏—è –¥–≤–µ –∫–∞—Ä—Ç—ã. –ù–∞–π—Ç–∏ –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å —Ç–æ–≥–æ, —á—Ç–æ –ø–µ—Ä–≤–æ–π –∫–∞—Ä—Ç–æ–π –±—ã–ª–∞ —à–µ—Å—Ç–µ—Ä–∫–∞, –∞ –≤—Ç–æ—Ä–æ–π ‚Äî —Å–µ–º–µ—Ä–∫–∞. –ù–∞–π—Ç–∏ —É—Å–ª–æ–≤–Ω—É—é –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å —Ç–æ–≥–æ –∂–µ —Å–æ–±—ã—Ç–∏—è –ø—Ä–∏ —É—Å–ª–æ–≤–∏–∏, —á—Ç–æ –æ–±–µ –∫–∞—Ä—Ç—ã –±—É–±–Ω–æ–≤–æ–π –º–∞—Å—Ç–∏.

In [42]:
W = 36 * 35
# A - {–ø–µ—Ä–≤–∞—è –∫–∞—Ä—Ç–∞ - —à–µ—Å—Ç–µ—Ä–∫–∞, –≤—Ç–æ—Ä–∞—è –∫–∞—Ä—Ç–∞ - —Å–µ–º–µ—Ä–∫–∞}
A = 4 * 4 
# B - {–æ–±–µ –∫–∞—Ä—Ç—ã –±—É–±–Ω–æ–≤–æ–π –º–∞—Å—Ç–∏}
B = 1 * 1 
pA = A/W
pAB = B/W
print(pA, pAB)

0.012698412698412698 0.0007936507936507937

–ü—Ä–µ–¥–ª–∞–≥–∞–µ—Ç—Å—è —Ç–∞–∫–∂–µ —Ä–µ—à–∏—Ç—å –∑–∞–¥–∞—á—É: 

### –ó–∞–¥–∞—á–∞ 10
–ò–∑ —É—Ä–Ω—ã, —Å–æ–¥–µ—Ä–∂–∞—â–µ–π –¥–≤–∞ –±–µ–ª—ã—Ö –∏ —Ç—Ä–∏ —á–µ—Ä–Ω—ã—Ö —à–∞—Ä–∞, –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ –∏–∑–≤–ª–µ–∫–∞—é—Ç –¥–≤–∞ —à–∞—Ä–∞; –≤—ã–Ω—É—Ç—ã–µ —à–∞—Ä—ã –Ω–µ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç—Å—è. –ï—Å–ª–∏ –ø–µ—Ä–≤—ã–π —à–∞—Ä –æ–∫–∞–∑–∞–ª—Å—è —á–µ—Ä–Ω—ã–º, —Ç–æ –ø–µ—Ä–µ–¥ –≤—Ç–æ—Ä—ã–º –∏–∑–≤–ª–µ—á–µ–Ω–∏–µ–º –≤ —É—Ä–Ω—É –¥–æ–±–∞–≤–ª—è—é—Ç –±–µ–ª—ã–π —à–∞—Ä. –í –ø—Ä–æ—Ç–∏–≤–Ω–æ–º —Å–ª—É—á–∞–µ —Å–æ—Å—Ç–∞–≤ –æ—Å—Ç–∞–≤—à–∏—Ö—Å—è —à–∞—Ä–æ–≤ –Ω–µ –º–µ–Ω—è—é—Ç. –ù–∞–π—Ç–∏ –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç–∏ —Å–æ–±—ã—Ç–∏–π:

$A$ = {–∏–∑–≤–ª–µ—á–µ–Ω—ã –¥–≤–∞ –±–µ–ª—ã—Ö —à–∞—Ä–∞},

$B$ = {–∏–∑–≤–ª–µ—á–µ–Ω—ã –¥–≤–∞ —á–µ—Ä–Ω—ã—Ö —à–∞—Ä–∞}

–£–∫–∞–∑–∞–Ω–∏–µ. –ü—É—Å—Ç—å —Å–æ–±—ã—Ç–∏–µ $C_1$ = {–ø–µ—Ä–≤—ã–π —à–∞—Ä –±–µ–ª—ã–π}, —Å–æ–±—ã—Ç–∏–µ $C_2$ = {–≤—Ç–æ—Ä–æ–π —à–∞—Ä –±–µ–ª—ã–π}. –¢–æ–≥–¥–∞ $A = C_1C_2$, $B = \overline C_1 \overline C_2$